@charset "ISO-8859-1";
.uploaddsvfile{
	margin-left:50px;
	margin-top:-10px;
width:200%;
	
}
.delimiterlabel{
	font-size:13px;
}
.tablemodifier{
	margin-top:-335px;
	height:55vh;
	margin-left:165px;
}
.mapping_screen{
	height:80vh;
	margin-left:4%;
	margin-right:3%;
	border-style:groove;
	margin-top:1%;
}
.sourcefieldtablecolumn{
	margin-top:50px;
	margin-left:20px;
	width:12%;
	height:55vh;
	overflow:auto;
}

.sourcefield{
	width:100%;
}
.modulelabel{
	width:200%;
	background:#808080;
	text-align:center;
	height:4vh;
	border:none;
	margin-top:0px;
	margin-left:-52px;
}
.upbutton{
	margin-top:-250px;
	margin-left:1070px;
}
.upbutton button{
	width:70%;
}
.downbutton{
	margin-top:20px;
	margin-left:1070px;
}
.downbutton button{
	width:70%;
}

.freemappingbutton button{
	width:30%;
}
.sourcefield tr:hover {
          background-color: blue;
  }
  .selected {
    color: red;
}

.freemappingbutton button:focus {
border: 2px solid blue; 
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin-left: 320px;
  margin-top: -370px;
  width: 40%; /* Full width */
  height: 30vh; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 1px 16px;

}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 1px 16px;
  background-color: lightgrey;
  color: white;
  margin-top:30px;
 bottom:0px;
 height:7vh;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
.buttons{
margin-left:300px;
width:50%;

margin-top:10px;
}
.buttons button{
width:30%;
}
.buttons button:focus {
border: 2px solid green; 
}






.projectdata{
	
	margin-left:850px;
	margin-top:10px;
	color:black;
	text-shadow:0 0 20px rgba(0,0,0,0.5);
	color:green;
	width:100%;
}
.projectdata  input{
	border:none;
	color:green;
	
}
.inputtext1{
	 width:10%;
	text-align:center;

	
}


.mappingscreen1{
	margin-top:20px;
	margin-left:10%;
	margin-bottom:5%;
	margin-right:5%;
	height:79vh;
	display:block;
	border-style:groove;
	
}
.inputtext1{
	 width:10%;
	text-align:center;

	
}
.text{
	
	 width:100%;
	background:#808080;
	text-align:center;
	height:4vh;
	border:none;
}
.mappingscreen1{
	margin-top:20px;
	margin-left:10%;
	margin-bottom:5%;
	margin-right:5%;
	height:79vh;
	display:block;
	border-style:groove;
	
}




